services:
  postgres:
    image: postgres:13.22-bookworm
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"

  nifi:
    image: apache/nifi:latest
    ports:
      - "8080:8080"